body{
  background: linear-gradient(blue,yellow,red,orange,lavender);
  background-repeat: no-repeat;
}

h3{
text-align: center;
padding: 0px
}

h4{
text-align: center;
padding: 20px;
}
