
body {
text-align: center;
font-family: fantasy;
background: brown;
color: white;

}
img {
border: 15px solid purple
display:;
}

h1 {
text-align: left;
font-weight: bold;
}
input{
padding:40px;

}
#Randoom{
transform:translateX(-500px);
font-family: sans-serif;
font-size: 30px;
}
.boom{
font-size:25px;
padding-right: 30px;
font-family: cursive;
transform: translateX(340px);
}
ul {
  list-style: none;
display: flex;
justify-content: center;
background:gray;
}
li {
padding-right: 30px;
}
@media (max-width: 800px) {
  body {
    background: blue;
  }
  img {
    border: 20px solid orange;
  }
}
